body {
    font-family: 'Arial', sans-serif;
    background-image: url("/static/images/background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 80vw;
    width: 100%;
    padding: 0 20px;
    margin: 50px 0;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
}


.logo {
    background: #ffffff;
    width: 200px;
    margin:30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.event-list-container {
    margin: 0 15%;
}

li {
    border: solid 3px #3498db;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

li span {
    font-weight: bold;
}

.columns {
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
}

.columns h3, .columns p {
    text-align: left;
}

#upload-form {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.26);
}

/* Style des champs de formulaire */
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Style du bouton de soumission */
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Style du bouton de soumission au survol */
input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.event-list-btn:hover {
    background-color: #2980b9;
}

a.year-calendar {
    background-color: #3498db;
}

a.year-calendar:hover {
    background-color: #2980b9;
}

.button-container {
    position: relative;
    margin: 5px 0;
}

.event-list-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    background-color: #3498db;
    transition: background-color 0.3s ease;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    height: 60%;
    aspect-ratio: auto 1 / 1;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 0;
    right: 10px;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    line-height: 2em;
    text-decoration: none;
    color: #ffffff;
}

.checkbox-label {
    display: block;
    margin-bottom: 10px;
    padding-right: 10px;
}

.event-list-container {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #ffffff;
    text-align: left;
    font-size: 0.8em;
}

.event-list-container label {
    flex-basis: calc(33.33%); /* 3 columns with 20px spacing */
    box-sizing: border-box;
}

#calendar {
    background: rgba(255, 255, 255, 0.45);
    padding: 20px;
    margin-top: 20px;
}

#calendar a {
    color: #000;
}