<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SérénaDo_It</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="back-button-container">
                <a href="/" class="back-button">Retour</a>
            </div>
            <h1>Administration de SérénaDo_It</h1>
            {% if unknown_courses %}
                <h2>Cours inconnus</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Cours inconnus</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in unknown_courses %}
                            <tr>
                                <td><pre>{{ course }}</pre></td>
                                <td>
                                    <button class="attribution-btn">Attribuer</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <h2>Liste des cours associés à leur nom dans le sheet élève</h2>
            <table>
                <thead>
                    <tr>
                        <th>Cours (nom sheet élève)</th>
                        <th>Dénominations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category, courses in categories.items() %}
                        <tr>
                            <td>{{ category }}</td>
                            <td>
                                {% for course in courses %}
                                    <span class="denomination-item">{{ course }}</span>
                                {% endfor %}
                                <span class="plus-btn">+</span>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><span class="plus-btn">+</span></td>
                        <td><span class="plus-btn">+</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modalText"></p>
        <div>
            <label for="courseInput">Cours (nom sheet élève) :</label>
            <select id="courseInput">
                {% for category, _ in categories.items() %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="denominationInput">Dénomination à modifier :</label>
            <input type="text" id="denominationInput" name="denomination">
        </div>
        <button id="confirmSend">Supprimer</button>
        <button id="cancelDelete">Annuler</button>
      </div>
    </div>
    <script>
        // Récupérer le modal
        let modal = document.getElementById("myModal");

        // Récupérer les éléments de fermeture du modal
        let span = document.getElementsByClassName("close")[0];

        // Récupérer les éléments pour confirmer ou annuler la suppression
        let confirmBtn = document.getElementById("confirmSend");
        let cancelDeleteBtn = document.getElementById("cancelDelete");

        // Récupérer tous les éléments .denomination-item et .plus-btn
        let coursesElements = document.querySelectorAll(".denomination-item");
        let plusBtns = document.querySelectorAll(".plus-btn");
        let attributionBtns = document.querySelectorAll(".attribution-btn");

        let course = ""
        let denomination = ""

        // Fonction pour afficher le modal et gérer la suppression
        function openModal(event) {
            console.log(event)
            course = event.target.parentElement.parentElement.children[0].innerText;
            if (event.target.classList.contains("plus-btn")) {
                denomination = "";
                document.getElementById("confirmSend").innerText = "Ajouter";
                document.getElementById("modalText").innerText = "Ajouter un nouveau cours";
                document.getElementById("courseInput").value = course;
                document.getElementById("courseInput").readOnly = true;
                if (course === "+") {
                    document.getElementById("courseInput").value = "";
                    document.getElementById("courseInput").readOnly = false;
                }
                document.getElementById("denominationInput").value = "";
                document.getElementById("denominationInput").readOnly = false;
            }
            else if (event.target.classList.contains("attribution-btn")) {
                denomination = event.target.parentElement.parentElement.children[0].innerText;
                document.getElementById("confirmSend").innerText = "Ajouter";
                document.getElementById("modalText").innerText = "Attribuer le cours "+denomination;
                document.getElementById("denominationInput").value = denomination;
                document.getElementById("denominationInput").readOnly = true;
            }
            else {
                denomination = event.target.innerText;
                document.getElementById("confirmSend").innerText = "Supprimer";
                document.getElementById("modalText").innerText = "Voulez-vous supprimer ce cours ?";
                document.getElementById("courseInput").value = course;
                document.getElementById("courseInput").readOnly = true;
                document.getElementById("denominationInput").value = denomination;
                document.getElementById("denominationInput").readOnly = true;
            }
            modal.style.display = "block";
        }

        // Fonction pour fermer le modal
        function closeModal() {
          modal.style.display = "none";
        }

        // Ajouter un écouteur d'événements à chaque élément .denomination-item
        coursesElements.forEach(function(course) {
          course.addEventListener("click", openModal);
        });

        // Ajouter un écouteur d'événements à chaque élément .plus-btn
        plusBtns.forEach(function(btn) {
          btn.addEventListener("click", openModal);
        });

        attributionBtns.forEach(function(btn) {
          btn.addEventListener("click", openModal);
        });

        // Ajouter un écouteur d'événement à l'élément de fermeture du modal
        span.addEventListener("click", closeModal);

        // Ajouter un écouteur d'événement pour annuler la suppression
        cancelDeleteBtn.addEventListener("click", closeModal);

        // Fonction pour confirmer la suppression (à modifier selon vos besoins)
        confirmBtn.addEventListener("click", function() {
            var data = new FormData();
            course = document.getElementById("courseInput").value;
            denomination = document.getElementById("denominationInput").value;
            data.append('course', course);
            data.append('denomination', denomination);

            // Envoyer la requête POST
            fetch('/admin/' + (confirmBtn.innerText === "Ajouter" ? "add_course" : "delete_course"), {
                method: 'POST',
                body: data
            })
            .then(response => {
                if (response.ok) {
                    console.log(confirmBtn.innerText === "Ajouter" ? "Nouveau cours ajouté !" : "Cours supprimé !");
                    closeModal();
                    location.reload(); // Recharger la page pour refléter les changements
                } else {
                    console.error("Erreur :", response.statusText);
                }
            })
            .catch(error => {
                console.error("Erreur :", error);
            });
        });

    </script>
</body>
</html>
