<!-- templates/auto-fetch.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SérénaDo_It</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="back-button-container">
                <a href="/" class="back-button">Retour</a>
            </div>
            <h1>My SérénaDo_It</h1>
            <p>Ce menu vous permettra de choisir à quel emploi du temps vous abonner à partir de l'extraction de Duc.</p>
             <form action = "/eleves/lien" method = "GET"
               enctype = "multipart/form-data" id="auto-fetch-form">
                <label>
                    <select name="path" id="file-select">
                        {% for file in file_list %}
                            <option value="{{ file.path }}">{{ file.name }}</option>
                        {% endfor %}
                    </select>
                </label>
                <input type="submit" value="Envoyer" onclick="updateFormAction()">
            </form>
            <div class="button-container" data-loader-id="loader-year-calendar">
                <a href="" class="btn-with-loader year-calendar">Voir la liste des cours</a>
                <div class="loader" id="loader-selection-list"></div>
            </div>
        </div>
    </div>
</body>
</html>
