<!-- templates/event-list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SérénaDo_It</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    <script>
    console.log(window.innerWidth)

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: window.innerWidth > 768 ? 'timeGridWeek' : 'timeGridDay',
            // Utilisez 'timeGridWeek' pour la vue semaine, listWeek pour la vue liste
          height: 700,  // Hauteur du calendrier
          events: [
            {% for event in course_list %}
              {
                title: '{{ event.description }}',
                location: '{{ event.location }}',
                description: '{{ event.organizer }}',
                start: '{{ event.start }}',
                end: '{{ event.end }}',
              },
            {% endfor %}
          ],
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          },
          firstDay: 1,  // Démarre la semaine le lundi
          weekends: false,  // N'affiche pas les week-ends par défaut
          themeSystem: 'bootstrap',
        {% if full_course_list %}
          eventColor: '#3498db'
        {% else %}
          eventColor: '#db8f8f'
        {% endif %}
        });
        {% if full_course_list %}
            calendar.addEventSource([
                {% for event in full_course_list %}
                {
                  title: '{{ event.description }}',
                  location: '{{ event.location }}',
                  description: '{{ event.organizer }}',
                  start: '{{ event.start }}',
                  end: '{{ event.end }}',
                  color: '#db8f8f'
                },
                {% endfor %}
            ]);
        {% endif %}
        calendar.render();
      });

    </script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="back-button-container">
                <a href="/" class="back-button">Retour</a>
            </div>
            <h1>La liste des cours de l'année ({{ displayed_name.split(".xlsx")[0] }})</h1>
            <div id="calendar-info">
                <div>
                    <a type="button" href="{{ 'webcal://node.oignon.ovh1.ec-m.fr' + path }}" role="button"
                       class="btn-with-loader year-calendar">
                        S'abonner (recommandé)
                    </a>
                    <a href="{{ path }}" class="copy-link">Copier ce lien pour ajouter manuellement à votre application favorite</a>
                </div>
                {% if full_course_list %}
                    <div>
                        <a type="button" href="{{ 'webcal://node.oignon.ovh1.ec-m.fr' + full_course_path }}" role="button"
                           class="btn-with-loader year-calendar red-sub-btn">
                            S'abonner au calendrier complet
                        </a>
                        <a href="{{ full_course_path }}" class="copy-link">Copier ce lien</a>
                    </div>
                {% endif %}
            </div>
            <div id='calendar'></div>
        </div>
    </div>

    <script>
        // Copy script
        document.querySelectorAll('.copy-link').forEach((el) => {
            el.addEventListener('click', (e) => {
                e.preventDefault();
                navigator.clipboard.writeText(e.target.href);
                let orignialText = e.target.innerHTML;
                e.target.innerHTML = 'Lien copié';
                setTimeout(() => {
                    e.target.innerHTML = orignialText;
                }, 2000);
            });
        });
    </script>
</body>
</html>
