<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SérénaDo_It</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Bienvenue sur SérénaDo_It !</h1>

            <div class="form-container">
                 <img src="{{ url_for('static', filename='images/logo_serenadoit.png') }}" alt="SérénaDo_It" class="logo">
                <form action="/annee" method="GET" id="sheet-info-form">
                    <label for="sheet_id">Id du google sheet</label>
                    <input type="text" name="sheet_id" id="sheet_id" placeholder="sheet_id" value="{{ config['DEFAULT_SHEET_ID'] }}">
                    <label for="sheet_name">Nom de la page EDT</label>
                    <input type="text" name="sheet_name" id="sheet_name" placeholder="sheet_name" value="{{ config['DEFAULT_SHEET_NAME'] }}">
                </form>
            </div>
            <div class="button-container" data-loader-id="loader-event-list">
                <input type="submit" value="La liste complète des cours de l'année" class="btn-with-loader event-list-btn" onclick="submitForm('/annee')">
                <div class="loader" id="loader-event-list"></div>
            </div>
            <h2>Options de personnalisation</h2>
            <div class="columns form-container">
                <div class="auto-fetch-container">
                    <p>
                        La liste des élèves est acquise depuis la Google Spreadsheet du choix des matières.<br>
                        Vous trouverez votre emploi du temps personnalisé en fonction de ces choix.<br>
                    </p>
                    <div class="button-container" data-loader-id="loader-personalize">
                        <input type="submit" value="Choisir son fichier dans la liste" class="btn-with-loader event-list-btn" onclick="submitForm('/eleves')">
                        <div class="loader" id="loader-personalize"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script>
        function submitForm(destination) {
            if (document.getElementById("sheet_id").value === "" || document.getElementById("sheet_name").value === "") {
                window.location.href = destination;
            }
            else if (destination === "/annee"){
                document.getElementById("sheet-info-form").submit();
            }
            else {
                window.location.href = destination
            }
        }
    </script>
</body>
</html>
