<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SérénaDo_It</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Bienvenue sur SérénaDo_It !</h1>

            <div class="form-container">
                 <img src="{{ url_for('static', filename='images/logo_serenadoit.png') }}" alt="SérénaDo_It" class="logo">
                <form action="/annee" method="GET" id="sheet-info-form">
                    <label for="sheet_id">Id du google sheet</label>
                    <input type="text" name="sheet_id" id="sheet_id" placeholder="sheet_id" value="">
                    <label for="sheet_name">Nom de la page EDT</label>
                    <input type="text" name="sheet_name" id="sheet_name" placeholder="sheet_name" value="année">
                </form>
                <div class="loader" id="loader-form"></div>
            </div>
            <div class="button-container" data-loader-id="loader-event-list">
                <input type="submit" value="La liste complète des cours de l'année" class="btn-with-loader event-list-btn" onclick="submitForm()">
                <div class="loader" id="loader-event-list"></div>
            </div>
            <h2>Options de personnalisation</h2>
            <div class="columns">

<!--                <div class="button-container" data-loader-id="loader-year-calendar">-->
<!--                    <h3>1. Choisir les matières à conserver dans son emploi du temps</h3>-->
<!--                    <a href="/my-calendar" class="btn-with-loader year-calendar">Choisir ses cours</a>-->
<!--                    <div class="loader" id="loader-personalize"></div>-->
<!--                    <p>Vous pouvez choisir les matières que vous voulez conserver dans votre calendrier. Les autres seront ignorées.</p>-->
<!--                </div>-->
                <div class="upload-container">
                    <h3>1. Choisir le fichier Excel avec ses matières</h3>
                    <form action = "/annee/source-excel" method = "POST"
                       enctype = "multipart/form-data" id="upload-form">
                       <input type = "file" name = "file" />
                       <input type = "submit" value="Uploader mon Excel"/>
                    </form>
                    <p>Une fois le fichier Excel uploadé, SérénaDo_It va automatiquement créer un lien d'abonnement personnalisé pour votre calendrier.
                    Il vous suffira de copier ce lien et de l'ajouter à votre application favorite.</p>
                </div>
                <div class="auto-fetch-container">
                    <h3>2. Choisir son nom dans la liste déroulante !</h3>
                    <p>On va se sevir ici du travail de Duc pour obtenir directement les fichiers excels.</p>
                    <a href="/eleves" class="btn-with-loader event-list-btn">Choisir son fichier dans la liste</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script>
        function submitForm() {
            if (document.getElementById("sheet_id").value === "" || document.getElementById("sheet_name").value === "") {
                window.location.href = "/annee";
            }
            else {
                document.getElementById("sheet-info-form").submit();
            }
        }
    </script>
</body>
</html>
