<!-- templates/personalize.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SérénaDo_It</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="back-button-container">
                <a href="/" class="back-button">Retour</a>
            </div>
            <h1>My SérénaDo_It</h1>
            <p>Ce menu vous permettra de personnaliser votre calendrier avec les cours choisis</p><br />
            <form class="event-list-container">
                {% for course in selectable_courses %}
                <label class="checkbox-label">
                    <input type="checkbox" name="{{ course }}"  checked />
                    {{ course }}
                </label>
                {% endfor %}
            </form>
            <div class="button-container" data-loader-id="loader-year-calendar">
                <a href="{{ path }}" class="btn-with-loader year-calendar">Lien d'abonnement personnalisé</a>
                <div class="loader" id="loader-year-calendar"></div>
            </div>

            <h2>Upload File</h2>
            <form action = "/annee/source-excel" method = "POST"
               enctype = "multipart/form-data">
               <input type = "file" name = "file" />
               <input type = "submit"/>
            </form>
        </div>
    </div>
</body>
</html>
